// -----------------------------------------------------------------------------
// This file contains updated style on the used carousel
// -----------------------------------------------------------------------------
#myCarousel {
  .carousel-img {
    img {
      width: 100%;
    }
    .carousel-caption {
      width: 100%;
      left: 0%;
      bottom: 7%;
      .fs-carousel-caption {
        font-style: italic;
        @include element-transition(opacity 0.2s ease 0.1s);
        text-align: left;
        overflow: visible;

        h1 {
          color: #222;
          background: #FFF;
          font-size: 1.5em;
          margin: 0px;
          padding: 10px 25px;
          max-width: 35%;
          text-align: center;
          &:hover {
            opacity: 0.7;
          }
          &:hover ~ h2 {
            opacity: 0.7;
          }
        }
        h2 {
          color: #E9E9E9;
          font-size: 1em;
          background: #111;
          margin: 0px;
          padding: 15px 25px;
          max-width: 60%;
          &:hover {
            opacity: 0.7;
          }
          &:hover ~ h1 {
            opacity: 0.7;
          }
        }
      }
    }
    .fs-credit {
      position: absolute;
      right: 1%;
      bottom: 1%;
      opacity: 0.75;
      z-index: 99;
      color: #555;
      font-size: 0.5em;
      background: rgba(255,255,255,.5);
      text-shadow: 0 1px 0 rgba(255,255,255,.5);
      border-radius: 3px;
      padding: 5px 10px;
      a{
        color: #555;
        @include on-event {
          color: $fs-href-hover-color;
          text-decoration: none;
        }
      }
    }

    .carousel-caption-right {
      right: 0%;
      float: right;
    }
  }
  .fs-carousel-nav {
    background: none;

    li {
      a {
        @extend a;
        color: $fs-href-color;
        text-align: left;
        text-shadow: 0 1px 0 #FAFDFC;
        background-color: $fs-href-hover-2-color;
        padding: 25px 18px;
        border-right: 1px solid $fs-border-green-color;
        height: 80px;
        small {
          font: {
            style: italic;
            size: 0.75em;
          }
        }
        @include on-event {
          background-color: $fs-href-hover-2-color;
          text-decoration: none;
        }
      }
    }

    li.active {
      a{
        background-color: $fs-href-bg-nav-color;
        @include on-event {
          color: $fs-href-color;
          background-color: $fs-href-bg-nav-color;
        }
      }
    }
    li:first-child {
      a {
        border-bottom-left-radius: 4px;
      }
    }
    li:last-child {
      a {
        border-right: none;
        border-bottom-right-radius: 4px;
      }
    }
  }
}

/* Changes needed for adapting on small screens*/
@include respond-to(small){
  #myCarousel {
    .fs-home-hero {
      margin-top: 0px;
      .item {
        .carousel-caption {
          bottom: 0%;
          padding-bottom: 0px;
          .fs-carousel-caption {
            h1, h2 {
              width: 100%;
              max-width: 100%;
              text-align: left;
              padding: 10px 7px;
            }
            h1 {
              font-size: 0.9em;
            }
            h2 {
              font-size: 0.6em;
            }
          }
        }
        .fs-credit {
          position: relative;
          float: right;
          border: none;
          text-shadow: none;
        }
        .fs-credit:before {
          content: "* ";
        }
      }
    }
    .fs-carousel-nav {
      display: none;
    }
  }
}

/* Changes needed for adapting on tablet's screens*/
@include respond-to(medium, map_get($breakpoints, small)+1){
  #myCarousel {
    .fs-home-hero {
      margin-top: 0px;
      .item {
        .carousel-caption {
          bottom: 0%;
          padding-bottom: 0px;
          .fs-carousel-caption {
            h1, h2 {
              width: 100%;
              max-width: 100%;
              text-align: left;
              padding: 10px 7px;
            }
            h1 {
              font-size: 0.9em;
            }
            h2 {
              font-size: 0.6em;
            }
          }
        }
        .fs-credit {
          position: relative;
          float: right;
          border: none;
          text-shadow: none;
        }
        .fs-credit:before {
          content: "* ";
        }
      }
    }
    .fs-carousel-nav {
      display: none;
    }
  }
}

/* Changes needed for adapting on large tablet's screens*/
@include respond-to(large, map_get($breakpoints, medium)+1){
  #myCarousel {
    .fs-home-hero {
      margin-top: 0px;
      .item {
        .carousel-caption {
          left: 0%;
          bottom: 10%;
          padding-bottom: 0px;
          .fs-carousel-caption {
            h1, h2 {
              text-align: left;
              padding: 10px 7px;
            }
            h1 {
              font-size: 0.9em;
            }
            h2 {
              font-size: 0.6em;
            }
          }
        }
        .fs-credit {
          bottom: 1%;
        }
      }
    }
    .fs-carousel-nav {
      a {
          small {
          display: none;
        }
        padding: 10px 20px;
        height: auto;
        text-align: center;
      }
    }
  }
}
