// -----------------------------------------------------------------------------
// This file contains all styles related to the Sign-up row component.
// -----------------------------------------------------------------------------
.fs-signup {
  display: flex;
  align-items: center;
  border-top: 1px dashed #AAA;
  border-bottom: 1px dashed #AAA;
  padding: 5px 0px;
  margin: 15px 0px;
  .fs-signup-intro {
    width: 60%;
    display: flex;
    align-items: center;
    margin-right: 20px;
    .fs-signup-img {
      margin-left: 20px;
      margin-right: 15px;
    }
    .fs-signup-desc {
      width: 90%;
      padding: 5px 10px 0px 10px;
      font-size: 0.75em;
      font-style: italic;
      align-self: center;
    }
  }
  .fs-signup-form {
    // width: 30%;
  }
}
