// -----------------------------------------------------------------------------
// This file contains all styles related to the Social connect button component.
// -----------------------------------------------------------------------------

.fs-social-btn {
  color: $fs-href-color;
  font: {
    size: 0.75em;
    style: italic;
  }

  width: 150px;
  border: 1px solid $fs-third-text-color;
  border-radius: 5px;
  padding: 5px 10px;
  .fs-social-btn-img {
    padding-right: 5px;
  }

  &:hover {
    @extend a;
    background-color: $fs-href-hover-2-color;
  }
}

/* Changes needed for adapting on small screens*/
@include respond-to(small){
  .fs-aside-twitter {
    display: none;
  }
  .fs-aside-fb {
    display: none;
  }
}
