
/* "box-sizing" This makes sure that the padding and border are included in the total width and height of the elements. */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

/* General Specs */
body {
  font-family: 'Droid Sans', sans-serif;
}
a {
  text-decoration: none;
  font-weight: lighter;
}

a:hover {
   text-decoration: none;
   font-weight: bold;
}

ul li a {
 display:block;
}
/* End of general */
/* Main Header */
.main-header {
  background-color: #002341;
  font-size: 13px;
  font-weight: normal;
}

.main-header-nav {
  border-bottom: none;
}

.main-header-nav li {
  text-align: center;
  width: 115px;
}
.main-header-nav a{
  padding: 5px 0px 5px 0px;
  color: white;
}

.main-header-nav a:hover {
    background: white;
    color: black;
}

.main-header-login a{
  background-color: #f5d815;
  color: black;
}

.main-header-login a:hover{
  background-color: white;
}

/* end of Main Header */

/* Second header with serach & logo*/
.header-search {
  background: #f5f5f5;
}

.header-search .logo{
  padding: 28px 0px 28px 0px;
}

.col-md-5{
  padding: 0px 12px 0px 15px;
}
.search-box {
  width: 550px; /* The search box size was increased because I couldn't align it right with col-md-5 borders it was 539*/
  padding: 10px;
  margin: 30px 0px 20px 0px;
  border-radius: 1px;
  border-color: #002341;
  border-style: solid;
  text-align: justify;
}

.search-box:placeholder-shown {
  padding: 10px;
}

/* Main Navigation */
.col-md-8 {
  -webkit-padding-right: 0px;
  -webkit-padding-left: 0px;
  -webkit-margin-left: 0px;
  -webkit-margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.main-nav {
  align-items: stretch;
  border-bottom: 0px;
}
.main-nav li {
  width: 130px;
  flex-wrap: wrap;
  display: block;
  align-items: center;
  border-top: thick solid white; /* This border was added to prevent the naviagtion from changing its position when link is hovering*/
  margin: 0px 3px;
}
.main-nav li a{
  color: #666;
  font-weight: bold;
  /*padding: 10px;
  margin: 10px;*/
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.main-nav li:hover {
  border-top: thick solid #0f979b;
}

.main-nav li a:hover {
  color: black;
}

.main-nav .active{
  border-top: thick solid #0f979b;
}

.main-nav .active a{
  color: black;
}
