
/* "box-sizing" This makes sure that the padding and border are included in the total width and height of the elements. */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

/* General Specs */
body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: white;
}

a:hover {
   text-decoration: none;
   font-weight: bold;
}

ul li a {
 display:block;
}
.col-md-2 {
  align-items: center;
  align-content: center;
}

.small-font {
  font-size: 13px;
}
/* End of general */
/* Main Header */
.main-header {
  background-color: #002341;
  font-size: 13px;
  font-weight: normal;
}

.main-header-nav {
  border-bottom: none;
}

.main-header-nav li {
  text-align: center;
  width: 115px;
}
.main-header-nav a{
  padding: 5px 0px 5px 0px;
  color: white;
}

.main-header-nav a:hover {
    background: white;
    color: black;
}

.main-header-login a{
  background-color: #f5d815;
  color: black;
}

.main-header-login a:hover{
  background-color: white;
}

/* end of Main Header */

/* Second header with serach & logo*/
.header-search {
  background: #f5f5f5;
}

.header-search .logo{
  padding: 28px 0px 28px 0px;
}

.col-md-5{
  padding: 0px 12px 0px 15px;
}


.search {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.search input[type=text]{
  border-radius: 0px;
  border: 0.5px solid #002341;
  border-right: none;
  padding: 15px 10px;
}

/* It should be on click not hover but JS not added yet*/
/*.search input[type=text]:hover {
  border: 2px solid #0f979b;
  border-right: none;
}*/

.input-group-addon {
  background-color: white;
  border-radius: 0px;
  border: 0.5px solid #002341;
  border-left: none;
  color: #002341;
  cursor: pointer;
}

/* Not working need to know why*/
.input-group span:hover{
  border: 1px solid #002341;
  border-left: none;
}

.input-group-addon i:hover {
  border: none;
  color: #0f979b;
}
/*
.search-box:placeholder-shown {
  padding: 10px;
}*/

/* Main Navigation */
.col-md-8{
  -webkit-padding-right: 0px;
  -webkit-padding-left: 0px;
  -webkit-margin-left: 0px;
  -webkit-margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.main-nav {
  align-items: stretch;
  border-bottom: 0px;
}
.main-nav li{
  width: 130px;
  flex-wrap: wrap;
  display: block;
  align-items: center;
  border-top: thick solid white; /* This border was added to prevent the naviagtion from changing its position when link is hovering*/
  margin: 0px 3px;
  cursor: pointer;
}
.main-nav li a{
  color: #666;
  font-weight: bold;
  /*padding: 10px;
  margin: 10px;*/
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.main-nav li:hover {
  border-top: thick solid #0f979b;
}

.main-nav .active{
  border-top: thick solid #0f979b;
}

.main-nav .active a{
  color: black;
}

/* Login section */
.login-section {
  color: white;
  height: 394px;
  background: -webkit-linear-gradient(-70deg,#284257 0%,#002341 50%, #497892 50%,#002341 100%);
  background: -moz-linear-gradient(-70deg,#284257 0%,#002341 50%, #497892 50%,#002341 100%);
  background: -ms-linear-gradient(-70deg,#284257 0%,#002341 50%, #497892 50%,#002341 100%);
  background: linear-gradient(-70deg,#284257 0%,#002341 50%, #497892 50%,#002341 100%);
}

.login-section-links {
  color: white;
  margin: 60px 0px;
}

.login-section-links a{
  font-size: 25px;
  font-weight: normal;
  padding-bottom: 10px;
}

.login-section-links a:hover{
  color: yellow;
}

.login-section-links-items{
  padding: 0px 0px;
}

.login-section-links-items li{
  list-style:none;
  background-image:none;
  background-position:0;
}

/*
  The following code is copied from the site with some refinement from my end
*/

.login-section-links-items li a:before{
  content: '\2022';
  display: block;
  position: absolute;
  text-indent: -99999px;
  left: -.1em;
  width: .7em;
  height: 1.5em;
  background: url('../assets/images/chevron_white.svg') no-repeat;
  background-size: .5em .7em;
  background-position: 0 0.4em;
}

.login-section-links-items li a:hover:before{
  content: '\2022';
  display: block;
  position: absolute;
  text-indent: -99999px;
  left: -.1em;
  width: .7em;
  height: 1.5em;
  background: url('../assets/images/chevron-hover.svg') no-repeat;
  background-size: .5em .7em;
  background-position: 0 0.4em;
}

.login-form {
  color: white;
  padding: 70px 0px;
}

.login-form a {
  color: inherit;
}

.login-form .small-font{
  font-size: 13px;
}

select.login-select{
    width: 300px;
    height: 50px;
    border-radius: 1px;
    color: #000;
    padding: 10px 10px;
}

input[type="button"].login-btn {
    width: 300px;
    height: 50px;
    background-color: #f5d815;
    margin: 20px 0px;
    border: none;
    cursor: pointer;
}

.login-btn input[type="button"]:hover{
    width: 300px;
    height: 50px;
    background-color: #edc337;
    border: none;
    cursor: pointer;
}

/*Test*/
select.login-select {
  background-color: white;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.login-select:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.fa-caret-up {
  padding-bottom: 3px;
}

/**/
/* Main container portlets */


.col-md-3.content-portlet{
  max-width: 22.4%;
}

.first-row{
  padding-top: 50px;
}

.last-row {
  padding-bottom: 50px;
}

/*.content-portlet.col-md-2{
  padding: 0px 0px 0px 0px ;
}*/

.main-content-portlets h3 a{
  display: block;
  color: #002341;
  font-weight:bold;
}
.main-content-portlets h3 a:hover{
  color: #0f979b;
}

.content-portlet {
  display: block;
  padding-right: 20px;
}
.content-portlet h3{
  padding-bottom: 30px;
}

.content-portlet .fa-chevron-right{
  font-size: 18px;
}


.main-content-portlets .col-md-3 {
    padding-right: 5px;
    padding-left: 0px;
}

/* Media Section*/

.media-col-3{
    background-color: #f0f0f0;
    padding-left: 30px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.media-col-5{
    background-color: #f0f0f0;
    padding-right: 30px;
    padding-bottom: 25px;
}

.atotv {
  padding-bottom: 25px;
}

.atotv-link a{
  color: #002341;
  text-decoration: underline;
}

.atotv-link h3 {
  font-size: 18px;
  font-weight: bolder;
}

.atotv-video {
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
}

.media-col-3 .small-font {
  font-size: 13px;
}


/* Main Content Media Ads Area */

/*  Media Ads & Watch TV seperator */

.watch-atotv-hr{
  background-color: #f0f0f0;
}
.watch-atotv-hr hr{
  display: block;
  border-style: solid;
  border-color: #ccc;
  margin-left: 17px;
  margin-right: 17px;
}

/* Main Content Watch atoTV */

.watch-atotv {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  padding: 20px 50px 30px 50px;
}

.watch-atotv a{
  background-color: white;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px 20px;
}

.watch-atotv a:hover{
  background-color: #f0f0f0;
  color: #aaa;
  border: 1px solid #aaa;
}
/* end of Main Content Watch atoTV */


.ads-section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f0f0f0;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.media-ads{
  flex-direction: column;
}

.media-ads a{
  color: #002341;
  text-decoration: underline;
  font-size: 14px;
  font-weight: bold;
}

/*end of banner Budget*/
.banner-budget{
  display: flex;
  justify-content: center;
  margin: 25px 0px;
}

.banner-budget img{
  width: inherit;
}

/*Charges & fines section*/

.col-md-3.fines-portlet {
  max-width: 22.4%;
}

.fines-portlet{
  display: flex;
  margin: 25px 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.fines-portlet a{
  font-weight: bold;
  font-size: 18px;
  color: #002341;
  text-decoration: underline;
  padding-bottom: 15px;
}
.fines-portlet{
  /*margin-right: 5px;*/
}

/*Twitter section */
.tweet-section {
  background-color: #f0f0f0;
  padding: 25px 25px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.social-media{
  padding-right: 40px;
  flex: 1 70%;
}
.social-media h2{
  color: #002341;
  font-family: "Swiss721BT-Light",Arial,Helvetica,sans-serif;
  font-size: 33px;
  font-weight: normal;
  line-height: 38px;
  margin-top: 0;
  margin-bottom: 20px;
}

.social-media-icons2 a{
  text-decoration: none;
}

.social-media-icons2 i:hover{
  color: #666;
}

.social-media-icons2 i{
  padding: 5px;
  padding-right: 10px;
}
.social-media-icons2 .fa-facebook{
  color: #3b5998;
}

.social-media-icons2 .fa-youtube-play{
  color: #bb0000;
}

.social-media-icons2 .fa-twitter{
  color: #55acee;
}

.social-media-icons2 .fa-linkedin{
  color: #007bb5;
}
.social-media-icons2 .fa-rss{
  color: #ff6600;
}

.single-tweet{
  display: flex;
  padding: 15px;
  cursor: pointer;
}

.single-tweet:hover{
  background-color: rgba(160,200,220,.12);
}

.tweet-auth{
  display: flex;
  color: black;
  font-weight: bolder;
  font-size: 14px;
}

.auth-hidden{
  color: grey;
  padding-left: 10px;
  padding-right: 10px;
}

.tweet-twitter-icon{
  color: #ddd;
  float: right;
}

.tweet-twitter-icon i{
  padding: 0px;
}
.tweet-twitter-icon:hover{
  color: #55acee;
  cursor: pointer;
}

.tweet-twitter-icon-div{
  position: relative;
  left: 270px;
}
.tweet-info{
  padding-bottom: 20px;
  padding-left: 20px;
}

.tweet-body img{
  padding-top: 15px;
  width: 450px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tweet-body {
  display: block;
}

.hashtag{
  color: #3b94d9;
  font-weight: bold;
  text-decoration: none;
}

.tweet-footer{
  display: flex;
  padding: 15px 0px;
  color: #ddd;
}


.tweet-footer .fa-heart:hover{
  color: red;
  cursor: pointer;
}

.tweet-footer .fa-share-square-o{
    padding-left: 20px;
}

.tweet-footer .fa-share-square-o:hover{
  color: #3b94d9;
  cursor: pointer;
}

.tweet-footer .tweet-footer-date{
  position: relative;
  left: 350px;
  color: grey;
  font-size: 14px;
}

/*end of Twitter section */
/* Sitemap footer */
.sitemap-footer {
  background: #333;
  color: white;
  padding: 20px 0px 50px 0px;
}

.sitemap-footer .nav-list {
  display: block;
  padding: 5px;
}

.sitemap-footer .nav-list li{
  display: block;
  font-size: 13px;
  padding: 6px 0px 7px 0px;

}


.sitemap-footer .nav-list .nav-header {
  font-weight: bold;
  font-size: 18px;
  padding-top: 30px;
}

.sitemap-footer a{
  color: inherit;
}

.sitemap-footer a:hover{
  color: yellow;
}

/* Copyright footer */
.copyright-footer {
  background: #444;
  color: white;
  align-items: center;
  align-content: center;
  padding: 30px 0px 50px 0px;
}

.copyright-footer a{
  color: inherit;
  text-decoration: underline;
}

.copyright-footer a:hover{
  color: inherit;
  text-decoration: none;
}

.copyright-footer p {
    margin: 0px 0px 0px 6px;
}


.copyright-footer .footer-small{
  font-size: 13px;
}
.social-media-icons i{
  color: #ccc;
  margin: 5px;
}

.social-media-icons a{
  text-decoration: none;
}

.social-media-icons i:hover{
  color: white;
}
