// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

/// Add transition browser fallback
/// @author: Alia Adel
/// @param {String} $property-value - css property value
@mixin element-transition($property-value) {
  -moz-transition: $property-value;
  -webkit-transition: $property-value;
  -o-transition: $property-value;
  transition: $property-value;
}

/// Add text-overflow ellipsis fallback
/// @author: Alia Adel
@mixin text-overflow-ellipsis () {
  /* BOTH of the following are required for text-overflow */
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline; /* WebKit, Opera */

  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for WebKit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
   hyphens: auto;
}
