// -----------------------------------------------------------------------------
// This file contains all application-wide Sass placeholders.
// -----------------------------------------------------------------------------


/* Clear order & un ordered list style, margin & padding*/
.fs-clear-list-style {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
