/**
* AUTHOR ALIA ADEL
* FOR DESIGN COPY RIGHTS, CHECK http://foodsense.is/
* IMP! THIS IMPLEMENTATION IS NOT FOR PRODUCTION USE BUT RATHER FOR
* PRACTICE & EDUCATIONAL PURPOSES.
**/
/*----------------------------------------------------------------*/


/* GENERAL STYLES */
/*----------------------------------------------------------------*/

*{
  box-sizing: border-box;
  // border: 1px solid red;
}


img {
  width: 100%;
}

a{
  color: $href-color;
  cursor: pointer;
  text-decoration: none;

  &:hover , &:active , &:focus {
    color: $href-hover-color;
    text-decoration: none;
  }
  // @include on-event {
  //   color: $href-hover-color;
  //   text-decoration: none;
  // }
}

/* Home Page Left Navigation Section */
/*----------------------------------------------------------------*/

body {
  font: {
    family: 'Times New Roman';
    size: 16px;
    weight: normal;
    variant: normal;
  }
  line-height: 24px;
  color: $primary-color;
  margin: 50px 0px;

  .site-logo {
    width: 100%;
    height: 121px;
    margin: 0px 20px 0px 25px;
    background: url("../assets/images/food-sense.png") no-repeat 0 0;
    h1 {
      color: white;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }

  // Home Page Left Navigation
  //----------------------------------------------------------------//
  @extend .left-nav;

  // IMAGES' CAROUSEL
  //----------------------------------------------------------------//
  @extend %fs-carousel;

  /* Lastet Tweet SECTION*/
  /*----------------------------------------------------------------*/
  .latest-tweet {
    p {
      @include text-uppercase();
      @include font-small-size();
      border-bottom: $dashed-single-side-border;
      margin-bottom: 15px;
      text-overflow: ellipsis;
    }

    a {
      @include font-xsmall-size();
      background-color: white;
      border: 1px solid $secondary-color;
      border-radius: 4px;
      color: $minor-color;
      padding: 8px 15px;
      margin-bottom: 15px;
      width: 100%;
      text-overflow: ellipsis;

      &:hover {
        background-color: $background-color-2;
        color: $href-hover-color; /* Need to be applied only on the href not the icon */
      }
    }
    i {
       padding-right: 10px;
    }
  }

  // HORIZONTAL NAVIGATION
  //----------------------------------------------------------------//
  @extend %horizontal-nav;

  // SIGN-UP SECTION
  //----------------------------------------------------------------//
  @extend %signup-section;

  /* LET'S BE FRIENDS */
  /*----------------------------------------------------------------*/
  .lets-be-friends {
    @extend .latest-tweet;
    section {
      @include font-xsmall-size();
      padding: 0px 0px 18px 0px;
    }
  }

  /* JOIN FACEBOOK COMMUNITY SECTION */
  /*----------------------------------------------------------------*/
  .fb-community {
    @extend .latest-tweet;
  }

  /* HOME PAGE NEWS */
  /*----------------------------------------------------------------*/
  @extend %article-section;

  /* FOOTER */
  @extend %footer;
}
