// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

a.fs-header-logo-link {
  .fs-header-logo {
    background: url($base-url + 'images/food-sense.png') no-repeat;
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
  }
}
