// -----------------------------------------------------------------------------
// This file contains all styles related to the general left side that includes
// the app logo plus left navigation
// -----------------------------------------------------------------------------

@import
  'header',
  'left-nav';

.fs-left-side {
  height: 445px;
}

/* Changes needed for adapting on small screens*/
@include respond-to(small){
  .fs-left-side {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .fs-header-logo-link {
      order: 2;
    }
    .fs-left-nav {
      order: 1;
      .fs-left-nav-list{
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 5px;
        font-size: 0.8em;
        .fs-left-nav-img {
          display: none;
        }
      }
      border-bottom: 2px solid #E5E5E5;
      margin-bottom: 20px;
    }
  }
}

/* Changes needed for adapting on tablet's screens*/
@include respond-to(medium, map_get($breakpoints, small)+1){
  .fs-left-side {
    height: auto;
    display: flex;
    align-items: center;
    .fs-left-nav {
      margin: 0px 20px;
      flex-grow: 3;
      .fs-left-nav-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        font-size: 1em;
        .fs-left-nav-img {
          display: none;
        }
      }
      margin-bottom: 20px;
    }
  }
}

/* Changes needed for adapting on large tablet's screens*/
@include respond-to(large, map_get($breakpoints, medium)+1){
  .fs-left-nav-col {
    width: 100%;
  }
  .fs-left-side {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .fs-left-nav {
      margin: 0px 20px;
      flex-grow: 2;
      .fs-left-nav-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        font-size: 1em;
        .fs-left-nav-href {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          .fs-left-nav-img {
            display: block;
          }
        }
      }
      margin-bottom: 20px;
    }
  }
  .fs-aside-fb-col {
    display: none;
  }
}
