// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
  // border: 1px solid red;
}

/**
 * Basic styles for links
 */
a {
  color: $fs-href-color;
  text-decoration: none;

  @include on-event {
    color: $fs-href-hover-color;
    text-decoration: none;
  }
}


 body {
   margin: 50px 0px;
 }

/**
 * Aside Uppercase header
 */
 .fs-aside-caps-header {
    font-size: .75em;
    text-transform: uppercase;
    margin: none;
    margin-top: 20px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px dashed $fs-third-text-color;
 }

 .fs-aside-details {
    font: {
        size: 0.75em;
        style: italic;
    }
    margin-bottom: 20px;
 }

 /* Changes needed for adapting on large tablet's screens*/
 @include respond-to(large, map_get($breakpoints, medium)+1){
   .fs-main-content-col {
     width: 100%;
   }
 }
