/* IMAGES' CAROUSEL*/
/*----------------------------------------------------------------*/
%fs-carousel {
  figure {
    .carousel {
        .carousel-inner {
          .item {
            img {
              width: 100%;
            }
            .credit {
              position: absolute;
              right: 1%;
              bottom: 1%;
              width: 15%;
              @include font-xsmall-size();
              text-align: center;
              color: #555;
              background: rgba(255,255,255,.5);
              border: 1px solid $secondary-color;
              border-radius: 3px;
              padding: 0px 2px;
              z-index: 1;
              opacity: 0.9;
              filter: alpha(opacity=90);
              /*TODO text-shadow were copied as-is need to study text shadow more*/
              text-shadow: 0 1px 0 rgba(255,255,255,.5);
              a {
                color: #555;
                @include reset-padding-margin();
                height: 100%;
                @include on-event {
                  color: $href-hover-color;
                }
              }
            }
            .carousel-caption{
              left: 0%;
              right: 0%;
              text-shadow: none;
              a {
                width: 100%;
                display: flex;
                flex-direction: column;
                font-style: italic;
                flex-wrap: wrap;
                &:hover {
                  opacity: 0.7;
                  filter: alpha(opacity=70);
                }
                h1 {
                  font-size: 30px;
                  line-height: 36px;
                  color: black;
                  background-color: white;
                  margin-bottom: 0px;
                  padding: 5px 20px 5px 20px;
                  max-width: 30%;
                }
                h2 {
                  @include font-medium-size();
                  color: white;
                  background-color: black;
                  margin-top: 0px;
                  padding: 20px;
                  max-width: 60%;
                }
              }

            }
          }
        }
    }
  }

  .carousel-caption-right {
      h1, h2{
        align-self: flex-end;
      }
  }



  .carousel-caption-left {
      h1, h2{
        align-self: flex-start;
      }
  }
}
