@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins',
  'abstracts/placeholders';

// 2. Vendors
// @import
//   'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/left-nav',
  'layout/footer';

// 5. Components
@import
  'components/text-box-area',
  'components/button',
  'components/social-connect-btn',
  'components/carousel',
  'components/carousel-extended',
  'components/signup-row',
  'components/card';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default';

//8. Screens
@import
  'screens/small',
  'screens/medium',
  'screens/large';
