/* Clear order & un ordered list style, margin & padding*/
.fs-clear-list-style, ul.fs-left-nav-list, .fs-footer .fs-footer-left .fs-footer-nav, .fs-footer .fs-footer-right .fs-footer-social { list-style: none; margin: 0px; padding: 0px; }

/** Set up a decent box model on the root element */
html { box-sizing: border-box; }

/** Make all elements from the DOM inherit from the parent box-sizing Since `*` has a specificity of 0, it does not override the `html` value making all elements inheriting from the root box-sizing value See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*, *::before, *::after { box-sizing: inherit; }

/** Basic styles for links */
a, .fs-social-btn:hover, #myCarousel .fs-carousel-nav li a { color: #34ac98; text-decoration: none; }
a:hover, .fs-social-btn:hover, #myCarousel .fs-carousel-nav li a:hover, a:active, .fs-social-btn:active:hover, #myCarousel .fs-carousel-nav li a:active, a:focus, .fs-social-btn:focus:hover, #myCarousel .fs-carousel-nav li a:focus { color: #ec6635; text-decoration: none; }

body { margin: 50px 0px; }

/** Aside Uppercase header */
.fs-aside-caps-header { font-size: .75em; text-transform: uppercase; margin: none; margin-top: 20px; padding-bottom: 5px; border: none; border-bottom: 1px dashed #e5e5e5; }

.fs-aside-details { font-size: 0.75em; font-style: italic; margin-bottom: 20px; }

/** Basic typography style for copy text */
body { color: #222222; font: normal 16px "Times New Roman"; }

/** Clear inner floats */
.clearfix::after { clear: both; content: ''; display: table; }

/** Main content containers 1. Make the container full-width with a maximum width 2. Center it in the viewport 3. Leave some space on the edges, especially valuable on small screens */
/** Hide text while making it readable for screen readers 1. Needed in WebKit-based browsers because of an implementation bug; See: https://code.google.com/p/chromium/issues/detail?id=457146 */
.hide-text { overflow: hidden; padding: 0; /* 1 */ text-indent: 101%; white-space: nowrap; }

/** Hide element while making it readable for screen readers Shamelessly borrowed from HTML5Boilerplate: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133 */
.visually-hidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

a.fs-header-logo-link .fs-header-logo, .fs-header-logo-link.fs-social-btn:hover .fs-header-logo, #myCarousel .fs-carousel-nav li a.fs-header-logo-link .fs-header-logo { background: url("../assets/images/food-sense.png") no-repeat; width: 120px; height: 120px; margin-bottom: 30px; }

ul.fs-left-nav-list { margin-top: 50px; }
ul.fs-left-nav-list li.fs-left-nav-item { margin-top: 12.8px; margin-bottom: 12.8px; }
ul.fs-left-nav-list li.fs-left-nav-item a.fs-left-nav-href, ul.fs-left-nav-list li.fs-left-nav-item .fs-left-nav-href.fs-social-btn:hover, ul.fs-left-nav-list #myCarousel .fs-carousel-nav li.fs-left-nav-item a.fs-left-nav-href, #myCarousel .fs-carousel-nav ul.fs-left-nav-list li.fs-left-nav-item a.fs-left-nav-href { display: flex; }
ul.fs-left-nav-list li.fs-left-nav-item a.fs-left-nav-href .fs-left-nav-img, ul.fs-left-nav-list li.fs-left-nav-item .fs-left-nav-href.fs-social-btn:hover .fs-left-nav-img, ul.fs-left-nav-list #myCarousel .fs-carousel-nav li.fs-left-nav-item a.fs-left-nav-href .fs-left-nav-img, #myCarousel .fs-carousel-nav ul.fs-left-nav-list li.fs-left-nav-item a.fs-left-nav-href .fs-left-nav-img { width: 32px; height: 32px; padding-right: 5px; -moz-transition: all 0.1s linear 0.1s; -webkit-transition: all 0.1s linear 0.1s; -o-transition: all 0.1s linear 0.1s; transition: all 0.1s linear 0.1s; }
ul.fs-left-nav-list li.fs-left-nav-item a.fs-left-nav-href .fs-left-nav-txt, ul.fs-left-nav-list li.fs-left-nav-item .fs-left-nav-href.fs-social-btn:hover .fs-left-nav-txt, ul.fs-left-nav-list #myCarousel .fs-carousel-nav li.fs-left-nav-item a.fs-left-nav-href .fs-left-nav-txt, #myCarousel .fs-carousel-nav ul.fs-left-nav-list li.fs-left-nav-item a.fs-left-nav-href .fs-left-nav-txt { font-style: italic; margin: auto 0px auto 8px; }
ul.fs-left-nav-list li.fs-left-nav-item a.fs-left-nav-href:hover > .fs-left-nav-img, ul.fs-left-nav-list li.fs-left-nav-item .fs-left-nav-href.fs-social-btn:hover > .fs-left-nav-img, ul.fs-left-nav-list #myCarousel .fs-carousel-nav li.fs-left-nav-item a.fs-left-nav-href:hover > .fs-left-nav-img, #myCarousel .fs-carousel-nav ul.fs-left-nav-list li.fs-left-nav-item a.fs-left-nav-href:hover > .fs-left-nav-img { padding-right: 0px; padding-left: 5px; }

.fs-left-side { height: 445px; }

/* Changes needed for adapting on small screens*/
@media screen and (min-width: 0px) and (max-width: 479px) { .fs-left-side { height: auto; display: flex; flex-direction: column; align-items: center; }
  .fs-left-side .fs-header-logo-link { order: 2; }
  .fs-left-side .fs-left-nav { order: 1; border-bottom: 2px solid #E5E5E5; margin-bottom: 20px; }
  .fs-left-side .fs-left-nav .fs-left-nav-list { display: flex; flex-direction: row; margin: auto; font-size: 0.9em; }
  .fs-left-side .fs-left-nav .fs-left-nav-list .fs-left-nav-img { display: none; } }
.fs-footer { display: flex; justify-content: space-between; flex-wrap: wrap; border-top: 2px solid #E5E5E5; margin: 50px 0px; padding: 20px 0px; }
.fs-footer .fs-footer-left .fs-footer-nav { font-size: 0.75em; display: flex; padding-right: 5px; }
.fs-footer .fs-footer-left .fs-footer-nav li.fs-list::after { content: " | "; }
.fs-footer .fs-footer-left .fs-footer-copyrights { font-size: 0.75em; color: #AAA; margin-top: 5px; }
.fs-footer .fs-footer-right .fs-footer-social { display: flex; }
.fs-footer .fs-footer-right .fs-footer-social li { padding-left: 10px; }
.fs-footer .fs-footer-right .fs-footer-social .fs-social-link { color: #333333; }
.fs-footer .fs-footer-right .fs-footer-social .fs-social-link:hover { opacity: 0.5; }

.fs-txt-normal { width: 13em; height: 2em; border: 1px solid #e5e5e5; border-radius: 4px; padding-left: 10px; outline: none; /* Added to remove chrome's blue border */ }
.fs-txt-normal:hover, .fs-txt-normal:active, .fs-txt-normal:focus { border: none; box-shadow: 0px 0px 6px 1px #b8e0db; outline: none; /* Added to remove chrome's blue border */ }

.fs-btn-normal { font-size: 0.9em; width: 100px; margin: 5px; padding: 5px 10px; background-color: #34ac98; color: #ffffff; border: none; display: inline-block; border-radius: 4px; }
.fs-btn-normal:hover, .fs-btn-normal:active, .fs-btn-normal:focus { background-color: #b8e0db; color: #ec6635; }

.fs-social-btn { color: #34ac98; font-size: 0.75em; font-style: italic; width: 150px; border: 1px solid #e5e5e5; border-radius: 5px; padding: 5px 10px; }
.fs-social-btn .fs-social-btn-img { padding-right: 5px; }
.fs-social-btn:hover { background-color: #eff8f7; }

/* Changes needed for adapting on small screens*/
@media screen and (min-width: 0px) and (max-width: 479px) { .fs-aside-twitter { display: none; }
  .fs-aside-fb { display: none; } }
/** Bootstrap 3.0.3 Snippet by sevenx.de https://bootsnipp.com/snippets/featured/tabbed-slider-carousel */
#myCarousel .nav a small, #myCarousel .nav .fs-social-btn:hover small { display: block; }

#myCarousel .nav { background: #eee; }

#myCarousel .nav a, #myCarousel .nav .fs-social-btn:hover, #myCarousel .nav .fs-carousel-nav li a, #myCarousel .fs-carousel-nav li .nav a { border-radius: 0px; }

#myCarousel .carousel-img img { width: 100%; }
#myCarousel .carousel-img .carousel-caption { width: 100%; left: 0%; bottom: 7%; }
#myCarousel .carousel-img .carousel-caption .fs-carousel-caption { font-style: italic; -moz-transition: opacity 0.2s ease 0.1s; -webkit-transition: opacity 0.2s ease 0.1s; -o-transition: opacity 0.2s ease 0.1s; transition: opacity 0.2s ease 0.1s; text-align: left; overflow: visible; }
#myCarousel .carousel-img .carousel-caption .fs-carousel-caption h1 { color: #222; background: #FFF; font-size: 1.5em; margin: 0px; padding: 10px 25px; max-width: 35%; text-align: center; }
#myCarousel .carousel-img .carousel-caption .fs-carousel-caption h1:hover { opacity: 0.7; }
#myCarousel .carousel-img .carousel-caption .fs-carousel-caption h1:hover ~ h2 { opacity: 0.7; }
#myCarousel .carousel-img .carousel-caption .fs-carousel-caption h2 { color: #E9E9E9; font-size: 1em; background: #111; margin: 0px; padding: 15px 25px; max-width: 60%; }
#myCarousel .carousel-img .carousel-caption .fs-carousel-caption h2:hover { opacity: 0.7; }
#myCarousel .carousel-img .carousel-caption .fs-carousel-caption h2:hover ~ h1 { opacity: 0.7; }
#myCarousel .carousel-img .fs-credit { position: absolute; right: 1%; bottom: 1%; opacity: 0.75; z-index: 99; color: #555; font-size: 0.5em; background: rgba(255, 255, 255, 0.5); text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); border-radius: 3px; padding: 5px 10px; }
#myCarousel .carousel-img .fs-credit a, #myCarousel .carousel-img .fs-credit .fs-social-btn:hover { color: #555; }
#myCarousel .carousel-img .fs-credit a:hover, #myCarousel .carousel-img .fs-credit .fs-social-btn:hover, #myCarousel .carousel-img .fs-credit a:active, #myCarousel .carousel-img .fs-credit .fs-social-btn:active:hover, #myCarousel .carousel-img .fs-credit a:focus, #myCarousel .carousel-img .fs-credit .fs-social-btn:focus:hover { color: #ec6635; text-decoration: none; }
#myCarousel .carousel-img .carousel-caption-right { right: 0%; float: right; }
#myCarousel .fs-carousel-nav { background: none; }
#myCarousel .fs-carousel-nav li .fs-social-btn:hover, #myCarousel .fs-carousel-nav li a { color: #34ac98; text-align: left; text-shadow: 0 1px 0 #FAFDFC; background-color: #eff8f7; padding: 25px 18px; border-right: 1px solid #d3ede9; }
#myCarousel .fs-carousel-nav li .fs-social-btn:hover small, #myCarousel .fs-carousel-nav li a small { font-style: italic; font-size: 0.75em; }
#myCarousel .fs-carousel-nav li .fs-social-btn:hover, #myCarousel .fs-carousel-nav li a:hover, #myCarousel .fs-carousel-nav li .fs-social-btn:active:hover, #myCarousel .fs-carousel-nav li a:active, #myCarousel .fs-carousel-nav li .fs-social-btn:focus:hover, #myCarousel .fs-carousel-nav li a:focus { background-color: #eff8f7; text-decoration: none; }
#myCarousel .fs-carousel-nav li.active .fs-social-btn:hover, #myCarousel .fs-carousel-nav li.active a { background-color: #b8e0db; }
#myCarousel .fs-carousel-nav li.active .fs-social-btn:hover, #myCarousel .fs-carousel-nav li.active a:hover, #myCarousel .fs-carousel-nav li.active .fs-social-btn:active:hover, #myCarousel .fs-carousel-nav li.active a:active, #myCarousel .fs-carousel-nav li.active .fs-social-btn:focus:hover, #myCarousel .fs-carousel-nav li.active a:focus { color: #34ac98; background-color: #b8e0db; }
#myCarousel .fs-carousel-nav li:first-child .fs-social-btn:hover, #myCarousel .fs-carousel-nav li:first-child a { border-bottom-left-radius: 4px; }
#myCarousel .fs-carousel-nav li:last-child .fs-social-btn:hover, #myCarousel .fs-carousel-nav li:last-child a { border-right: none; border-bottom-right-radius: 4px; }

/* Changes needed for adapting on small screens*/
@media screen and (min-width: 0px) and (max-width: 479px) { #myCarousel .fs-home-hero { margin-top: 0px; }
  #myCarousel .fs-home-hero .item .carousel-caption { bottom: 0%; padding-bottom: 0px; }
  #myCarousel .fs-home-hero .item .carousel-caption .fs-carousel-caption h1, #myCarousel .fs-home-hero .item .carousel-caption .fs-carousel-caption h2 { width: 100%; max-width: 100%; text-align: left; padding: 10px 7px; }
  #myCarousel .fs-home-hero .item .carousel-caption .fs-carousel-caption h1 { font-size: 0.9em; }
  #myCarousel .fs-home-hero .item .carousel-caption .fs-carousel-caption h2 { font-size: 0.6em; }
  #myCarousel .fs-home-hero .item .fs-credit { position: relative; float: right; border: none; text-shadow: none; }
  #myCarousel .fs-home-hero .item .fs-credit:before { content: "* "; }
  #myCarousel .fs-carousel-nav { display: none; } }
.fs-signup { display: flex; align-items: center; border-top: 1px dashed #AAA; border-bottom: 1px dashed #AAA; padding: 5px 0px; margin: 15px 0px; }
.fs-signup .fs-signup-intro { width: 60%; display: flex; align-items: center; margin-right: 20px; }
.fs-signup .fs-signup-intro .fs-signup-img { margin-left: 20px; margin-right: 15px; }
.fs-signup .fs-signup-intro .fs-signup-desc { width: 90%; padding: 5px 10px 0px 10px; font-size: 0.75em; font-style: italic; align-self: center; }

/* Changes needed for adapting on small screens*/
@media screen and (min-width: 0px) and (max-width: 479px) { .fs-signup { flex-direction: column; align-items: stretch; }
  .fs-signup .fs-signup-intro { width: auto; max-width: 100%; margin: auto; margin-bottom: 10px; }
  .fs-signup .fs-signup-intro .fs-signup-img, .fs-signup .fs-signup-intro .fs-signup-desc { max-width: 100%; }
  .fs-signup .fs-signup-form { max-width: 100%; margin-left: 20px; } }
.fs-food-article { width: 23%; padding: 15px 0px; }
.fs-food-article .fs-article-item-link:hover > .fs-article-item-img { opacity: 0.5; }
.fs-food-article .fs-article-item-link .fs-article-item-img { width: 100%; border: 1px solid lightgrey; padding: 10px; box-shadow: 0px 0px 6px 1px #F7F7F7; transition: all 0.1s ease-in-out 0.1s; }
.fs-food-article .fs-article-item-link .fs-article-item-title { font-size: 1em; }
.fs-food-article .fs-article-item-desc { /* BOTH of the following are required for text-overflow */ white-space: normal; overflow: hidden; text-overflow: ellipsis; text-overflow: -o-ellipsis-lastline; /* WebKit, Opera */ -ms-word-break: break-all; word-break: break-all; /* Non standard for WebKit */ word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; margin: 15px 0px; }
.fs-food-article .fs-article-footer { display: flex; }
.fs-food-article .fs-article-footer .fs-article-date { font-size: 0.9em; color: #AAA; }
.fs-food-article .fs-article-footer .fs-article-nav { border-bottom: 1px dashed #e5e5e5; }
.fs-food-article .fs-article-footer .fs-article-nav:hover { background-color: #eff8f7; }

/* Changes needed for adapting on small screens*/
@media screen and (min-width: 0px) and (max-width: 479px) { .fs-food-article { width: auto; } }
.fs-food-articles { display: flex; justify-content: space-between; flex-wrap: wrap; margin: 10px 0px; }

/*# sourceMappingURL=main.css.map */
