/** AUTHOR ALIA ADEL
* INCLUDES ALL MIXINS
**/

/**
* The following as per the best practices should be placeholders not mixins but
* an error was thrown that mixins can't be used within @media
*
*/

@mixin font-xsmall-size() {
  font-size: $font-xsmall-size;
  line-height: $font-xsmall-line-height;
}

@mixin font-small-size() {
  font-size: $font-small-size;
  line-height: $font-small-line-height;
}

@mixin font-medium-size() {
  font-size: $font-medium-size;
  line-height: $font-medium-line-height;
}

@mixin font-large-size() {
  font-size: $font-large-size;
  line-height: $font-large-line-height;
}

@mixin text-uppercase() {
  text-transform: uppercase;
}

@mixin reset-padding-margin() {
  padding: 0px;
  margin: 0px;
}

/* MOBILE PLACEHOLDERS */

@mixin font-mob-lg-hight-lg() {
  font-size: 14;
  // line-height: 20; /* Turned to be too high */
}

@mixin font-mob-lg-hight-sm() {
  font-size: 14;
  // line-height: 16; /* Turned to be too high */
}

@mixin font-mob-md-hight-lg() {
  font-size: 12;
  // line-height: 16; /* Turned to be too high */
}

@mixin font-mob-md-hight-sm() {
  font-size: 12;
  // line-height: 12;
}

@mixin font-mob-sm-hight-lg() {
  font-size: 10;
  // line-height: 15; /* Turned to be too high */
}

@mixin responsive-body-reset() {
  @include reset-padding-margin();
  margin-right: 10% ;
  margin-left: 10% ;
}

@mixin show-social-icon-size($normal: block, $medium: none, $large: none){
  .twitter {
    display: $normal;
  }
  .twitter-2x {
    display: $medium;
  }
  .twitter-3x {
    display: $large;
  }
  .facebook {
    display: $normal;
  }
  .facebook-2x {
    display: $medium;
  }
  .facebook-3x {
    display: $large;
  }
  .rss {
    display: $normal;
  }
  .rss-2x {
    display: $medium;
  }
  .rss-3x {
    display: $large;
  }
}
