/** AUTHOR ALIA ADEL
* INCLUDES ALL VARIABLES
**/

$primary-color:  #333333;
$secondary-color: #AAA;
$minor-color: #34AC98;
$href-color: #34AC98;
$href-hover-color: #ec6635;
$background-color-1: rgb(239,248,247);
$background-color-2: #D9EFEC;
$font-large-size: 36px;
$font-large-line-height: 45px;
$font-medium-size: 14px;
$font-medium-line-height: 20px;
$font-small-size: 12px;
$font-small-line-height: 17px;
$font-xsmall-size: 11px;
$font-xsmall-line-height: 19px;
$horizontal-nav-corner-radius: 3px;
$dashed-single-side-border: 1px dashed #E5E5E5;
