/** AUTHOR ALIA ADEL
* THIS SASS FILE TARGET MOBILE DEVICES WITH DEVICE PIXELS
* FROM 0 TO 480
**/

@media screen and (max-width: 480px) {
  body {
    @include reset-padding-margin;
    margin-right: 10%;
    margin-left: 10%;
  }
  .header-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    .header-nav-section{
      order: 1;
      .site-logo {
        order:2;
        @include reset-padding-margin;
        align-content: center;
      }
      .left-nav {
        order: 1;
        @include font-mob-md-hight-lg();
        width: 100%;
        border-bottom: 2px solid #E5E5E5;
        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: wrap;
        }
        ul, li, a{
          @include reset-padding-margin;
        }
        img {
          display: none;
        }
      }
    }
    .carousel-section {
      order: 2;
      figure {
        .carousel {
          .carousel-inner {
            .item {
              img {

              }
              .carousel-caption {

              }
              .credit {
                display: relative;
                top: 100px;
                left: 100px;
                opacity: 1;
                filter: alpha(opacity=100);
                background: none;
                border: none;
                text-shadow: none;
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }

  .latest-tweet {
    display: none;
  }

  .horizontal-nav {
    display: none;
  }

  .lets-be-friends {
    display: none;
  }
  .signup-newsletter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    @include reset-padding-margin;
    padding: 10px 0px;
    margin: 10px 0px;
    .sign-up-desc {
      display: flex;
      @include reset-padding-margin;
    }
    .sign-up-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 10px;
      .email-txt-box {
        width: 100%;
      }
      .subscribe-btn {
        @include reset-padding-margin;
        padding: 3px 5px;
        margin-left: 10px;
        text-align: center;
        width: 100%;
      }
    }
  }

  .homepage-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include reset-padding-margin();
    article {
      @include reset-padding-margin();
      a {
        @include reset-padding-margin();
        img {
          width: 100%;
        }
        p {
          @include reset-padding-margin();
        }
      }
      .article-body {
        @include reset-padding-margin();
        margin: 10px 0px;
        width: 100%;
      }
      .article-footer {
        @include reset-padding-margin();
        margin: 0px 0px 20px 0px;
        width: 100%;
      }
    }
  }

  footer {
      @include font-mob-sm-hight-lg;
      @include reset-padding-margin();
      padding: 10px 0px;
      justify-content: space-between;
      .col-sm-3 {
        @include reset-padding-margin();
          .footer-nav {
            @include reset-padding-margin();
            display: flex;
            flex-wrap: wrap;
          }
          .copyright {
            @include reset-padding-margin();
            flex-wrap: wrap;
          }
      }
      .col-sm-7 {

      }
      .col-sm-2 {
        @include reset-padding-margin();
        align-self: center;
        .social-media-icons {
          @include reset-padding-margin();
          float: right;
          flex-wrap: wrap;
          a {
            i {

            }
          }
        }
      }
  }
}
