/**
* AUTHOR ALIA ADEL
* FOR DESIGN COPY RIGHTS, CHECK http://foodsense.is/
* IMP! THIS IMPLEMENTATION IS NOT FOR PRODUCTION USE BUT RATHER FOR
* PRACTICE & EDUCATIONAL PURPOSES.
**/
/*----------------------------------------------------------------*/
@charset 'UTF-8';

/* Vendor */
/*----------------------------------------------------------------*/
//Compiling font-awesome file produced an invalid css file with invalid icons
// @import 'vendor/font-awesome/styles/font-awesome';
// @import 'vendor/bootstrap/bootstrap';

/* VARIABLES */
/*----------------------------------------------------------------*/
@import 'abstracts/variables';

/* MIXINS */
/*----------------------------------------------------------------*/
@import 'abstracts/mixins';

/* Includes almost all styles */
/*----------------------------------------------------------------*/
@import 'base/base';

/* layouts*/
/*----------------------------------------------------------------*/
@import
  'layout/left-nav',
  'layout/footer';

/* IMPORT COMPONENETS STYLESHEETS */
@import
  'components/carousel',
  'components/carousel-nav',
  'components/signup',
  'components/homepage-news';

/* IMPORT RESPONSIVE STYLESHEETS */
@import
  'components/tablet-large',
  'components/tablet',
  'components/mobile';
