/**
* AUTHOR ALIA ADEL
* FOR DESIGN COPY RIGHTS, CHECK http://foodsense.is/
* IMP! THIS IMPLEMENTATION IS NOT FOR PRODUCTION USE BUT RATHER FOR
* PRACTICE & EDUCATIONAL PURPOSES.
**/
/*----------------------------------------------------------------*/

/* VARIABLES */
/*----------------------------------------------------------------*/
$primary-color: #111111;
$secondary-color: #AAA;
$minor-color: #34AC98;
$href-color: #34AC98;
$href-hover-color: #ec6635;
$background-color-1: rgb(239,248,247);
$background-color-2: #D9EFEC;
$font-large-size: 36px;
$font-large-line-height: 45px;
$font-medium-size: 14px;
$font-medium-line-height: 20px;
$font-small-size: 12px;
$font-small-line-height: 17px;
$font-xsmall-size: 11px;
$font-xsmall-line-height: 19px;
$horizontal-nav-corner-radius: 3px;
$dashed-single-side-border: 1px dashed #E5E5E5;

/* GENERAL STYLES */
/*----------------------------------------------------------------*/

*{
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

body {
  font: {
    family: 'Times New Roman';
    size: 16px;
    weight: normal;
    variant: normal;
  }
  line-height: 24px;
  color: $primary-color;
  margin: 50px 86.5px 0px 86.5px;
}

img {
  width: 100%;
}

a{
  color: $href-color;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $href-hover-color;
    text-decoration: none;
  }
}

.font-xsmall-size {
  font-size: $font-xsmall-size;
  line-height: $font-xsmall-line-height;
}

.font-small-size {
  font-size: $font-small-size;
  line-height: $font-small-line-height;
}

.font-medium-size {
  font-size: $font-medium-size;
  line-height: $font-medium-line-height;
}

.font-large-size {
  font-size: $font-large-size;
  line-height: $font-large-line-height;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Home Page Left Navigation Section */
/*----------------------------------------------------------------*/
Header {
  width: 122px;
  height: 121px;
  margin: 0px 20px 0px 25px;
  background: url("../assets/images/food-sense.png") no-repeat 0 0;
}

/* Home Page Left Navigation */
/*----------------------------------------------------------------*/
.left-nav {
  margin: 40px 0px;
  ul{
    list-style: none outside none;
    margin-top: 20px;
    padding: 0px 0px 0px 10px;
    li{
      margin: 20px 0px 30px 10px;

      img {
        position: relative;
        width: 32px;
        height: 32px;
        margin-right: 10px;
        float: left;
        cursor: pointer;
        transition: all .2s ease;
        &:hover {
          left: 5px;
        }
      }
      a{
        font-style: italic;
        padding: 0px;
      }
    }
  }
}

/* IMAGES' CAROUSEL*/
/*----------------------------------------------------------------*/
figure {
  .carousel {
      .carousel-inner {
        .item {
          img {
            width: 100%;
          }
          .credit {
            position: absolute;
            top: 440px;
            left: 800px;
            width: 15%;
            @extend .font-xsmall-size;
            color: #555;
            background: rgba(255,255,255,.5);
            border: 1px solid $secondary-color;
            border-radius: 3px;
            padding: 0px 2px;
            z-index: 1;
            opacity: 0.9;
            filter: alpha(opacity=90);
            text-align: center;
            text-shadow: 0 1px 0 rgba(255,255,255,.5);
            a {
              color: #555;
              &:hover {
                color: $href-hover-color;
              }
            }
          }
          .carousel-caption{
            left: 0%;
            right: 0%;
            text-shadow: none;
            a {
              width: 100%;
              display: flex;
              flex-direction: column;
              font-style: italic;
              flex-wrap: wrap;

              &:hover {
                opacity: 0.7;
                filter: alpha(opacity=70);
              }
              h1 {
                font-size: 30px;
                line-height: 36px;
                color: black;
                background-color: white;
                margin-bottom: 0px;
                padding: 5px 20px 5px 20px;
                max-width: 30%;
              }
              h2 {
                @extend .font-medium-size;
                color: white;
                background-color: black;
                margin-top: 0px;
                padding: 20px;
                max-width: 60%;
              }
            }

          }
        }
      }
  }
}

.carousel-caption-right {
    h1, h2{
      align-self: flex-end;
    }
}



.carousel-caption-left {
    h1, h2{
      align-self: flex-start;
    }
}

/* Lastet Tweet SECTION*/
/*----------------------------------------------------------------*/
.latest-tweet {
  p {
    @extend .text-uppercase;
    @extend .font-small-size;
    border-bottom: $dashed-single-side-border;
    margin-bottom: 15px;
  }

  a {
    @extend .font-xsmall-size;
    background-color: white;
    border: 1px solid $secondary-color;
    border-radius: 4px;
    color: $minor-color;
    padding: 8px 15px;
    margin-bottom: 15px;
    width: 100%;

    &:hover {
      background-color: $background-color-2;
      color: $href-hover-color; /* Need to be applied only on the href not the icon */
    }
  }
  i {
     padding-right: 10px;
  }
}

/* HORIZONTAL NAVIGATION */
/*----------------------------------------------------------------*/
.horizontal-nav {
  display: flex;
  flex-wrap: wrap;
  .h-nav-item {
    flex-grow: 1;
    color: $secondary-color;
    font-style: italic;
    background-color: $background-color-1;
    padding: 20px 15px;
    border-right: 1px solid $background-color-2;
    a {
      h4 {
        margin: 0px 15px 5px 15px;
      }
      p {
        @extend .font-small-size;
        margin: 0px 15px 0px 15px;
      }
    }
  }
  .first-slide {
    border-bottom-left-radius: $horizontal-nav-corner-radius;
  }

  .last-slide {
    border-bottom-right-radius: $horizontal-nav-corner-radius;
  }
  .active-slide {
    background-color: $background-color-2;
  }
}

/* SIGN-UP SECTION */
/*----------------------------------------------------------------*/
.signup-newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  padding: 5px 20px;
  border-top: $dashed-single-side-border;
  border-bottom: $dashed-single-side-border;
  img {
    width: 32px;
    height: 32px;
  }
  .signup-intro {
    @extend .font-xsmall-size;
    font-style: italic;
    padding: 0px 16px;
    margin-bottom: 0px;
  }
  .sign-up-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0px;
    .input-sm {
      padding: 0px 20px;
      min-width: 30%;
      &:focus {
        border: 2px solid $href-color;
      }
    }
    .form-control {
      margin: 0px 13px;
      width: 200px;
      /*TODO Need to override the box-shadow color*/
    }
  }
}

/* LET'S BE FRIENDS */
/*----------------------------------------------------------------*/
.lets-be-friends {
  @extend .latest-tweet;
  section {
    @extend .font-xsmall-size;
    padding: 0px 0px 18px 0px;
  }
}

/* JOIN FACEBOOK COMMUNITY SECTION */
/*----------------------------------------------------------------*/
.fb-community {
  @extend .latest-tweet;
}

/* HOME PAGE NEWS */
/*----------------------------------------------------------------*/
.homepage-news {
  display: flex;
  justify-content: space-between;

  a {
    img {
      width: 185px;
      height: 120px;
      margin-bottom: 20px;
      transition: all .2s ease;
      align-self: center;
      border: 1px solid rgba(202, 201, 201, 0.29);
      padding: 9px;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(247,242,247,1);
      -moz-box-shadow: 10px 10px 5px 0px rgba(247,242,247,1);
      box-shadow: 10px 10px 5px 0px rgba(247,242,247,1);
    }
    p {

    }
    &:hover {
      img {
        opacity: 0.3;
      }
    }
  }
}
